# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/

# =========================
# IDE / editor
# =========================
.idea/
.vscode/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Raw ECG data
# =========================
data/
*.hea
*.mat

# =========================
# Generated outputs
# =========================
output/
output_multilabel/
output_split/
model_output/

prediction_output/
evaluation_output/
threshold_tuning_output/



# =========================
# Large numpy / model files
# =========================
*.npy
*.npz
*.keras
*.h5
*.pt
*.pth

# =========================
# Images generated during inspection
# =========================
*.png

# =========================
# Logs / temporary files
# =========================
*.log
tmp/
temp/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/


